.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  display: flex; 
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 10%;
  margin: 20px auto; 
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #4c90af;
  color: white;
}


.hover-item:hover {
  background-color: red;
  color: white; 
}
.image-grid {
  display: grid;           
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 10px;                   
  padding: 10px;  
              
  
}

.image-grid img {
  
  width: 100%;               
  height: auto;              
  border-radius: 8px;         
  object-fit: cover;         
  

}



header {
  background-color: rgb(141, 221, 50);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

footer {
  background-color: rgb(153, 50, 221);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

